<!DOCTYPE html>
<html>

<head>
  <title>Tyrell Johnson</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="form">
      <form action="email-form" method="POST">
          <div>
              <label for="name">Name:</label>
              <input type="text" id-"name" name="userName">
          </div>
          <div>
              <label for="mail">E-mail:</label>
              <input type="email" id="mail" name="userEmail">
          </div>
          <div>
              <label for="msg">Message:</label>
              <textarea id="msg" name="userMessage"></textarea>
          </div>
      </form>

  </div>
</body>

</html>