<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tyrell Johnson</title>
  <!-- Import icons -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Import fonts -->
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <div class="main">
            <img class="profilePicture" src="../images/profilePicture.png" />
            <h1>Hello I'm Tyrell!</h1>
            <h4>Software Engineer</h4>
            <button type="submit" class="btn btn-default" id="resume"
              onclick="window.open('../files/resume.docx')">Download
              Resume!</button>
          </div>

          <div class="aboutme">
            <h2>About Me</h2>
            <p>A quality focused Software Engineer, and IT Professional with over 3 Years
              of experience in the technology domain. Strong in development and integration problem-solving
              skills.
              Working with Golang, PHP, Python SQL database
              analysis and design. Skilled in API development, user documentation, and data collection analysis.
            </p>
          </div>

          <div class="icons">
            <a href="https://github.com/sirmaximous"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/tyrell-johnson-a8b8a7b6/"><i class="fa fa-linkedin-square"
                aria-hidden="true"></i></a>

            <div class="footer">
              <footer>
                <p>Copyright © 2019 Tyrell Johnson</p>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>



</body>





</html