<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tyrell Johnson</title>
  <!-- Import fonts -->
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

  <div class="container">
    <div class="text-center">
      <img class="profilePicture" src="../images/profilePicture.png" />
      <h1>Hello I'm Tyrell!</h1>
    </div>
  </div>
  <div class="container">
    <div class="text-center">
      <p>A quality focused Software Engineer, and IT Professional with over 3 Years
        of experience in the technology
        domain. Strong in design and integration problem-solving skills. Working with Golang, PHP, Python SQL database
        analysis and design. Skilled in API development, user documentation, and data collection analysis.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h2>About Me</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h2>Contact Me</h2>
        </div>
        <form action="" method"">
          <div class="form-group">
            <input type="name" class="form-control" placeholder="Name" id="name" />
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email Address" id="email" />
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Message" id="message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" id="submit" class=" btn btn-default" value="Submit" />
          </div>
        </form>
        <div>
        </div>
      </div>
</body>

</html